.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1),
    padding-top 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    padding-bottom 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.onscroll {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 4px;
  padding-bottom: 4px;
}

.wrapper {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
