.form {
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  overflow: hidden;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary);
}

.text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: var(--text);
}

.filedataInfo,
.sourceDataInfo {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.subTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary);
}

.uploadBtn {
  font-family: var(--font-family);
  width: 133px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: color 0.5s;
}

.btnIconContainer {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnIcon {
  width: 100%;
  height: 100%;
  stroke: var(--text);
  fill: transparent;
  transition: stroke 0.5s;
}

.scrollableContent {
  padding-right: 8px;
  flex: 1;
  overflow-y: auto;
  max-height: 48vh;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-right: 12px;
}

.auxTextArea {
  height: 80px;
  resize: none;
  overflow-y: auto;
}

.uploadBtn.green:hover .btnIcon {
  stroke: var(--green);
}

.uploadBtn.default:hover .btnIcon {
  stroke: var(--default);
}

.uploadBtn.blue:hover .btnIcon {
  stroke: var(--blue);
}

.uploadBtn.yellow:hover .btnIcon {
  stroke: var(--yellow);
}

.uploadBtn.red:hover .btnIcon {
  stroke: var(--red);
}

.uploadBtn.green:hover {
  color: var(--green);
}

.uploadBtn.default:hover {
  color: var(--default);
}

.uploadBtn.blue:hover {
  color: var(--blue);
}

.uploadBtn.yellow:hover {
  color: var(--yellow);
}

.uploadBtn.red:hover {
  color: var(--red);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
