.container {
  position: relative;
  display: inline-block;
}

.btn {
  font-family: var(--font-family);
  font-size: 14px;
  border-radius: 12px;
  width: 221px;
  height: 50px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn .text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.11;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.icon {
  width: 100%;
  height: 100%;
  stroke: var(--primary);
  transition: transform 0.3s ease;
}

.btn.open .icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.dropdownWrapper {
  position: absolute;
  width: 221px;
  top: calc(100% + 4px);
  left: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0 2px 8px var(--section-bgr);
  z-index: 100;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option.selected {
  color: var(--primary);
}

.option.inactive {
  color: rgba(18, 20, 23, 0.2);
}

.option input {
  display: none;
}
