.progressContainer {
  margin-top: 10px;
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: var(--default);
  text-align: center;
  color: var(--white);
  line-height: 20px;
  transition: width 0.3s;
}
