.container {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  background-color: var(--white);
  display: flex;
  row-gap: 24px;
  padding-top: 88px;
  padding-bottom: 88px;
}

.formContainer {
  width: 56%;
  padding-top: 98px;
  padding-bottom: 98px;
  padding-left: 128px;
  padding-right: 128px;
  border-radius: 30px;
  background-color: var(--gray-bgr);
}

.imgContainer {
  width: 44%;
  border-radius: 30px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }

  .formContainer {
    width: 50%;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .imgContainer {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 68px;
    padding-bottom: 68px;
  }

  .imgContainer {
    width: 100%;
  }

  .formContainer {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .formContainer {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
