.inputFile {
  display: none;
}

.wrapper {
  position: relative;
}

.error {
  position: absolute;
  bottom: -8px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--error);
}
