.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  z-index: 500;
}

.modal {
  width: 599px;
  background: var(--white);
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
  border-radius: 30px;
  position: relative;
  max-height: 100vh;
  /* overflow-y: auto; */
}

.modal.graph {
  border-radius: 8px;
  width: 90vw;
  height: 90vh;
  padding: 20px;
  overflow-y: auto;
}

.closeBtn {
  position: absolute;
  top: 28px;
  right: 28px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 510;
  transition: color 0.5s ease;
}

.icon {
  width: 32px;
  height: 32px;
  fill: transparent;
  stroke-width: 2.5px;
  stroke: var(--primary);
}

.closeBtn:hover .icon {
  stroke: var(--default);
}

.icon.graph {
  stroke: transparent;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
  }

  .closeBtn {
    top: 16px;
    right: 16px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
