.container {
  width: 78px;
  height: 78px;
  display: flex;
  background-color: transparent;
  overflow: hidden;
  flex-shrink: 0;
}

.container.small {
  width: 36px;
  height: 36px;
}

.img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100px;
    height: 100px;
  }

  .container.small {
    width: 44px;
    height: 44px;
  }
}
