.logoContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logoText {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--primary);
}

.logoIcon {
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 768px) {
  .logoContainer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
