.container {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  background-color: var(--white);
  display: flex;
  gap: 24px;
  padding-top: 88px;
  padding-bottom: 88px;
}

.infoContainer {
  width: 56%;
  padding-top: 98px;
  padding-bottom: 98px;
  padding-left: 128px;
  padding-right: 128px;
  border-radius: 30px;
  background-color: var(--gray-bgr);
}

.imgContainer {
  width: 44%;
  border-radius: 30px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.title {
  max-width: 548px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  color: var(--error);
}

.text {
  width: 471px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: -0.02em;
  color: var(--text);
  margin-bottom: 64px;
}

.link {
  max-width: 267px;
  width: 100%;
  height: 60px;
  padding: 0 32px;
  font-family: var(--font-family);
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: var(--red);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  background-color: var(--red-accent);
}

.imgContainer {
  position: relative;
  overflow: hidden;
}

.imgContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red-blur);
  pointer-events: none;
  mix-blend-mode: color;
}

.img {
  filter: blur(2px);
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }

  .infoContainer {
    width: 50%;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .imgContainer {
    width: 50%;
  }

  .title {
    font-size: 44px;
    width: 100%;
  }

  .text {
    margin-bottom: 32px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 68px;
    padding-bottom: 68px;
  }

  .imgContainer,
  .infoContainer,
  .text,
  .title {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .infoContainer {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
