.form {
  font-family: var(--font-family);
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary);
}

.text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: var(--text);
}

.auxTextArea {
  height: 80px;
  resize: none;
  overflow-y: auto;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.auxTextArea {
  height: 80px;
  resize: none;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
