.wrapper {
  position: relative;
}

.input {
  font-family: inherit;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 12px 12px 12px 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  color: var(--primary);
  background-color: transparent;
  transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.input:hover {
  border-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.02);
}

.icon {
  color: var(--text);
  transition: color 0.5s;
}

.icon:hover {
  color: var(--default);
}

.input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.error {
  font-family: inherit;
  position: absolute;
  bottom: -8px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--error);
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--primary);
  position: absolute;
  transform: translate(-200%, 75%);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: var(--primary);
  transition: background-color 5000s ease-in-out 0s;
}
