.form {
  width: 100%;
}

.content {
  display: flex;
  font-family: var(--font-family);
  flex-direction: column;
  gap: 28px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary);
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.uploadBtn {
  width: 133px;
  height: 20px;
  font-family: var(--font-family);
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: color 0.5s;
}

.btnIconContainer {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnIcon {
  width: 100%;
  height: 100%;
  stroke: var(--text);
  fill: transparent;
  transition: stroke 0.5s;
}

.uploadBtn.green:hover .btnIcon {
  stroke: var(--green);
}

.uploadBtn.default:hover .btnIcon {
  stroke: var(--default);
}

.uploadBtn.blue:hover .btnIcon {
  stroke: var(--blue);
}

.uploadBtn.yellow:hover .btnIcon {
  stroke: var(--yellow);
}

.uploadBtn.red:hover .btnIcon {
  stroke: var(--red);
}

.uploadBtn.green:hover {
  color: var(--green);
}

.uploadBtn.default:hover {
  color: var(--default);
}

.uploadBtn.blue:hover {
  color: var(--blue);
}

.uploadBtn.yellow:hover {
  color: var(--yellow);
}

.uploadBtn.red:hover {
  color: var(--red);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
