.wrapper {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 12px 18px;
  display: flex;
  gap: 12px;
  transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.wrapper:hover {
  border-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.02);
}

.labelTitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  color: var(--primary);
  opacity: 0.8;
}

.radioGroup {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioInput {
  display: none;
}

.customRadio {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid var(--default-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.customRadio.default {
  border-color: var(--default);
}

.radioInput.default:checked + .customRadio::after {
  background-color: var(--default);
}

.customRadio.green {
  border-color: var(--green);
}

.radioInput.green:checked + .customRadio::after {
  background-color: var(--green);
}

.customRadio.blue {
  border-color: var(--blue);
}

.radioInput.blue:checked + .customRadio::after {
  background-color: var(--blue);
}

.customRadio.yellow {
  border-color: var(--yellow);
}

.radioInput.yellow:checked + .customRadio::after {
  background-color: var(--yellow);
}

.customRadio.red {
  border-color: var(--red);
}

.radioInput.red:checked + .customRadio::after {
  background-color: var(--red);
}

.radioInput:checked + .customRadio::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
