@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("../../fonts/Poppins-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../../fonts/Poppins-SemiBold.ttf") format("truetype");
}
