.content {
  font-family: var(--font-family);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary);
}

.text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: rgba(18, 20, 23, 0.8);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btnAuxStyles {
  width: calc(50% - 10px);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
