.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.btnReset {
  position: absolute;
  top: -60px;
  right: 0;
  z-index: 10;
  width: 145px;
  height: 48px;
}

.graphContainer {
  width: 100%;
  height: auto;
}
